#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

nav {
  background-image: linear-gradient(to right, #3f1200, #060200 20%, #210e07 50%, #060200 80%, #3f1200);
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  text-decoration: none;
  transition: color .3s;
  width: 100%;
  font-size: 1.2em;
}

.solution-content {
  background-color: #ff8000;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  background-image: url("https://assets-global.website-files.com/655764008e28e2e8d3dd2945/655df36dc1f0afb27ec6ff12_Frame%202085659865.svg");
  background-size: cover;
}

.solution-content img {
  width: 100%;
  height: auto;
  margin-top: -130px;
}

.defi {
  margin-top: 200px;
}

.defi button {
  background-color: #ff8000;
  color: black;
  padding: 15px 100px;
  border-radius: 0;
}

.intro {
  margin-top: 50px;
  margin-bottom: 150px;
}

.intro-box button {
  background-color: #ff8000;
  color: black;
  padding: 15px 100px;
  border-radius: 0;
  margin-left: auto;
}

.intro-box p {
  padding-top: 160px;
  padding-bottom: 200px;
}

.intro-box span {
  color: #ff8000;
}

.defi img {
  height: 80%;
  width: auto;
}

.stake img {
  width: 80%;
  height: auto;
}

.stake-box {
  margin-left: 15%;
}

.stake button {
  background-color: #ff8000;
  color: black;
  padding: 15px 100px;
  border-radius: 0;
}

.roadmap {
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url("https://assets-global.website-files.com/655764008e28e2e8d3dd2945/655dfef1d1d578c58e21dd22_Frame%202085659868.webp");
  background-size: cover;
}

.footer-box {
  margin-left: 200px;
}

.footer {
  padding-top: 100px;
  border-top: 1px solid #333;
  padding-bottom: 100px;
}


.roadmap-box {
  background: linear-gradient(to bottom right, black 80%, transparent 80%, transparent 20%, black 20%);
  padding: 20px;
  clip-path: polygon(0 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 0 100%);
  border: 0.3px solid #555;
}

.outlined {
  border-style: dashed;
}

.roadmap-box .title {
  color: #ff8000;
  padding-bottom: 100px;
}

.roadmap-box .content {
  color: white;
}

.defi .bracket-1 {
  /* position: relative; */
  margin-left: -8%;
}

.defi .bracket-2 {
  transform: rotate(180deg);
  margin-left: 100%;
}

.video-background {
  position: absolute;
  right: 0;
  bottom: 0;
  /* min-width: 100%; */
  /* min-height: 100%; */
  width: auto;
  height: auto;
  z-index: -100;
  opacity: 0.3;
  width: 90%;
}

.intro-box {
  position: relative;
}
